* {
    padding: 0;
    margin: 0;
}

#editor {
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    padding: 0 15px;
}

#slide {
    background: #fff;
    padding: 5px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}